<%- include('../shared/_header.ejs') %>

<h1>Liste des recettes</h1>
<h2>Il y en a actuellement <%=count %> !</h2>

<a href="/recipe/add">Ajouter une recette</a>

<ul>
<% for(const recipe of recipes) { %>
    
    <li>
        <a href="/recipe/detail/<%=recipe.id %>"><%=recipe.name %></a>
    </li>
    
<% } %>
</ul>

<%- include('../shared/_footer.ejs') %>